
<h1>Create a New Figure</h1>

<form action="/landmarks" method="POST">
  <p>Name:</p>
  <input type="text" name="landmark[name]" value="landmark_name" id="landmark_name">
  <p>Year Completed:</p>
  <input type="text" name="landmark[year_completed]" value="year_completed" id="landmark_year_completed">

  <input type="submit" value="Create New Landmark" id="Create New Landmark">

</form>
